.footer {
  background-image: linear-gradient(to right bottom, #18b1a2, #624dd6);
  line-height: 1.7 !important;
  margin-top: 9rem !important;
}

.footer__container {
  padding: 3.2rem !important;
  margin-bottom: 15rem !important;
  padding-top: 9rem !important;
}

.footer__wrap {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1.2fr);
  grid-gap: 10rem;
  justify-content: center;
  align-items: start;
  border-bottom: 1px solid #ccc;
}

.footer__info {
  padding-bottom: 5rem;
}

.footer__info h5 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.footer__info span {
  display: block;
  margin-bottom: 0.8rem;
}

.footer__info a {
  color: inherit;
  text-decoration: none;
}

.footer__img {
  height: 2.4rem;
  margin-top: 1.6rem;
}

.footer__text {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 5rem;
}

@media (max-width: 62.5em) {
  .footer__container {
    border-radius: 0;
    margin-bottom: 0rem;
  }

  .footer__wrap {
    grid-template-columns: 2fr repeat(2, 1.2fr);
    grid-gap: 6rem;
  }
}

@media (max-width: 43.75em) {
  .footer__wrap {
    grid-template-columns: 1fr;
    grid-gap: 2.4rem;
  }
}
