@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;600;800;900&display=swap"); */

  @import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

  html {
    font-size: 62.5%;
  }

  body {
    /* font-family: "Inter", sans-serif; */
    font-family: "Marcellus", serif;
    color: rgba(17, 17, 17, 0.8);
    font-size: 1.6rem;
    /* background-color: #faf9f9; */
  }

  @media (max-width: 56em) {
    html {
      font-size: 50%;
    }
  }
}

/* @layer components {
  .btn {
    @apply text-white font-bold bg-colorPrimary px-[1.6rem] py-[1.3rem] rounded;
  }
} */

@layer utilities {
  .container {
    width: 100%;
    max-width: 140rem;
    padding: 0 3.2rem;
    margin: 0 auto;
  }

  @media (max-width: 56em) {
    .container {
      padding: 0 1.4rem;
    }
  }

  .shadow {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  }

  .bg-gradient {
    background: linear-gradient(
      90deg,
      rgba(126, 144, 254, 0.1) 0%,
      rgba(152, 115, 255, 0.1) 100%
    );
  }

  .g-cols-2 {
    grid-template-columns: 1fr 5fr;
  }

  .g-cols-2x {
    grid-template-columns: 4fr 1fr;
  }

  .form input {
    height: 4rem !important;
  }

  .form input,
  .form label span {
    font-size: 1.6rem !important;
  }

  /* .fill svg {
    fill: #dc3136;
  } */

  .grid-cols {
    grid-template-columns: 0.5fr repeat(5, 1fr);
  }

  .grid-cols-max-10 {
    grid-template-columns:
      0.2fr repeat(3, 1fr) 1fr repeat(2, 1fr)
      repeat(2, 1fr)
      3fr;
  }

  .grid-cols-max-7 {
    grid-template-columns: 0.5fr 1.5fr 1fr 2fr 0.5fr repeat(2, 1fr);
  }

  .disabled {
    display: block;
    background-color: #f0eeee !important;
    color: #ccc !important;
    cursor: not-allowed !important;
    opacity: 0.5;
    padding: 0.4rem 1rem;
    margin: 0 auto;
    border-radius: 0.8rem;
    border: 1px solid #999 !important;
  }
  .not-available {
    color: #ccc !important;
  }

  .main-nav li a {
    font-size: 2rem;
  }
}

.white {
  color: #fff !important;
}

.bg {
  background-color: black !important;
}
/* Stripe Card Styles */

.StripeElement,
.StripeElementIdeal,
.StripeElementP24,
.StripeElementEPS,
.StripeElementFpx {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
  background: white;
}

.StripeElement--focus,
.StripeElementIdeal--focus,
.StripeElementP24--focus,
.StripeElementEPS--focus,
.StripeElementFpx--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
    rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.StripeElement.loading {
  height: 41.6px;
  opacity: 0.6;
}

.StripeElementIdeal,
.StripeElementP24,
.StripeElementEPS,
.StripeElementFpx {
  padding: 0;
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  color: #fff;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9rem 12rem;
}

.swiper-slide img {
  display: block;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
  margin-bottom: 3.2rem;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #18b1a2, #624dd6);
  border-radius: 10rem;
}
