@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;600;800;900&display=swap"); */

  @import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

  html {
    font-size: 62.5%;
  }

  body {
    /* font-family: "Inter", sans-serif; */
    font-family: "Marcellus", serif;
    color: rgba(17, 17, 17, 0.8);
    font-size: 1.6rem;
    /* background-color: #faf9f9; */
  }

  @media (max-width: 56em) {
    html {
      font-size: 50%;
    }
  }
}

/* @layer components {
  .btn {
    @apply text-white font-bold bg-colorPrimary px-[1.6rem] py-[1.3rem] rounded;
  }
} */

@layer utilities {
  .container {
    width: 100%;
    max-width: 140rem;
    padding: 0 3.2rem;
    margin: 0 auto;
  }

  @media (max-width: 56em) {
    .container {
      padding: 0 1.4rem;
    }
  }

  .shadow {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  }

  .bg-gradient {
    background: linear-gradient(
      90deg,
      rgba(126, 144, 254, 0.1) 0%,
      rgba(152, 115, 255, 0.1) 100%
    );
  }
}
